body {
  background-color: #56565d;
}
.container {
  margin-top: 30px;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: 50px 50px 50px 50px 50px;
  justify-content: center;
}

.item {
  background-color: #787a84;
  border-radius: 50%;
  justify-content: center;
}

.legend {
  position: absolute;
  top: 450px;
  left: 520px;
  height: 50px;
  width: 300px;
}

.button {
  background: no-repeat
    linear-gradient(hotpink, orange, yellow, lawngreen, skyblue, violet);
  font-size: 20px;
  width: 200px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.box {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 20px;
  width: 40px;
  border: 1px solid #000;
  margin-left: 20px;
}
.palette {
  margin-left: -70px;
  width: 250px;
  height: 10px;
  padding: 30px;
  background-color: #9999996c;
  margin-top: -200px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(5, 50px);
  justify-content: center;
  transform: rotate(90deg);
}
.color-option {
  width: 20px;
  height: 20px;
  background-color: lawngreen;
  border-radius: 2px;
}
